<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!--gateway-->
    <micro>
        <handler>meta</handler>
        <resolver>micro</resolver>
        <apiPath>/</apiPath>
    </micro>

    <!--log-->
    <log>
        <level>debug</level>
        <file>gateway.log</file>
        <path>logs</path>
    </log>

    <!--server-->
    <server>
        <id>1</id>
        <name>gateway</name>
        <address>:8080</address>
        <namespace>go.micro.api</namespace>
        <registerTTL>30</registerTTL>           <!--秒-->
        <registerInterval>10</registerInterval>
    </server>
</config>